/*@import "public/imagens/";*/
*{
    box-sizing: border-box;
}

.rodape{
    align-items: center;
    background-color: #6278F7;
    color:#FFF;
    width: 100%;
    background-image: url("/public/imagens/fundo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 80px;
    
    display: flex;
    justify-content: space-around;
}

.redes-sociais{
    width: 200px;
    display: flex;
    justify-content: space-around;
} 

.redes-sociais img{
    width: 32px;
    height: 32px;
}

.rodape h4{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}